@font-face {
	font-family: "Open Sans";
	src: url("../fonts/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Open Sans Bold";
	src: url("../fonts/OpenSans-Bold.woff2") format("woff2"), url("../fonts/OpenSans-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Open Sans ExtraBold";
	src: url("../fonts/OpenSans-ExtraBold.woff2") format("woff2"), url("../fonts/OpenSans-ExtraBold.woff") format("woff");
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: "FuturaPT Bold";
	src: url("../fonts/FuturaPT-Bold.woff2") format("woff2"), url("../fonts/FuturaPT-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}


/*---ANIMATION---*/

@-webkit-keyframes imagesFading {
	0% {
		opacity: 1;
	}
	25% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	75% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes imagesFading {
	0% {
		opacity: 1;
	}
	25% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	75% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-webkit-keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}


/*---GENERAL---*/

a {
	text-decoration: none;
	color: inherit;
}

img {
	max-width: 100%;
	height: auto;
}

.visually-hidden:not(:focus):not(:active) {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	-webkit-clip-path: inset(100%);
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.button {
	position: relative;
	display: block;
	width: 150px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px 0;
	font-family: "Open Sans", "Arial", sans-serif;
	font-weight: 400;
	font-size: 13px;
	line-height: 18px;
	text-align: center;
	vertical-align: middle;
	border: 1px solid #663333;
	border-radius: 2px;
}

.button:hover {
	color: #ffffff;
}

.button:active {
	color: #505050;
}

.button:before {
	position: absolute;
	content: '';
	width: 0%;
	height: 100%;
	background: #663333;
	top: 0;
	left: auto;
	right: 0;
	z-index: -1;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.button:hover:before {
	width: 100%;
	left: 0;
}

.section-title {
	position: relative;
	font-family: "Open Sans ExtraBold", "Arial", sans-serif;
	font-weight: 800;
	font-size: 30px;
	line-height: 44px;
	text-transform: uppercase;
}

.section-title:after {
	position: absolute;
	content: '';
	width: 80px;
	height: 3px;
	left: 0;
	bottom: -22px;
	background: #d12c2c;
}

body {
	min-width: 320px;
	font-family: "Open Sans", "Arial", sans-serif;
	font-weight: 400;
	font-size: 13px;
	line-height: 22px;
	padding: 0;
	color: #505050;
	background: #ffffff;
}


/*---HEADER---*/

.header {
	max-width: 1920px;
	margin: 0 auto;
}

.header__top {
	width: 100%;
	margin: 0 auto;
	background: -webkit-gradient(linear, left top, right top, color-stop(25.6%, #e6e6e6), color-stop(25.6%, transparent));
	background: -o-linear-gradient(left, #e6e6e6 25.6%, transparent 25.6%);
	background: linear-gradient(90deg, #e6e6e6 25.6%, transparent 25.6%);
}

.header__top-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 940px;
	margin: 0 auto;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.header__logo {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 360px;
	height: 130px;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background: -o-linear-gradient(324deg, #e6e6e6 292px, transparent 0);
	background: linear-gradient(126deg, #e6e6e6 292px, transparent 0);
}

.header__logo-image {
	margin: 0 20px 0 0;
}

.header__logo-text {
	width: 144px;
	font-family: "FuturaPT Bold", "Arial", sans-serif;
	font-weight: 700;
	font-size: 25px;
	line-height: 30px;
	color: #663333;
	text-transform: uppercase;
}

.header__contacts {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	list-style: none;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin: -14px 0 0 -8px;
	padding: 0;
	font-family: "Open Sans Bold", "Arial", sans-serif;
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
	color: #505050;
}

.header__contacts-phone,
.header__contacts-email {
	position: relative;
	padding: 0 0 0 40px;
	margin: 0 27px 0 0;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.header__contacts-phone:hover,
.header__contacts-email:hover {
	color: #663333;
}

.header__contacts-phone:before {
	position: absolute;
	content: '';
	width: 24px;
	height: 24px;
	left: 0;
	top: 50%;
	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
	background: url('../img/phone.svg');
}

.header__contacts-email:before {
	position: absolute;
	content: '';
	width: 24px;
	height: 19px;
	left: 0;
	top: 50%;
	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
	background: url('../img/mail.svg');
}

.header__bottom {
	width: 100%;
	margin: -10px auto 0 auto;
	background: -webkit-gradient(linear, right top, left top, color-stop(25.6%, #663333), color-stop(25.6%, transparent));
	background: -o-linear-gradient(right, #663333 25.6%, transparent 25.6%);
	background: linear-gradient(270deg, #663333 25.6%, transparent 25.6%);
}

.header__bottom-wrapper {
	width: 940px;
	margin: 0 auto;
}


/*---NAVIGATION---*/

.navigation {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	width: 940px;
	margin: 0 auto;
}

.navigation__list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	list-style: none;
	padding: 0;
	margin: 0;
}

.navigation__item {
	position: relative;
	padding: 0;
	color: #ffffff;
	background: #663333;
}

.navigation__item:first-child {
	background: -o-linear-gradient(324deg, transparent 60px, #663333 0);
	background: linear-gradient(126deg, transparent 60px, #663333 0);
}

.navigation__item:after {
	position: absolute;
	content: '';
	width: 1px;
	height: 24px;
	top: 50%;
	right: 0;
	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
	background: #000000;
}

.navigation__item:last-child:after {
	display: none;
}

.navigation__item-link {
	position: relative;
	display: block;
	max-width: 200px;
	padding: 14px 0;
	margin: 0 30px;
}

.navigation__item-link:hover {
	color: #505050;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.navigation__item-link:before {
	position: absolute;
	content: '';
	width: 0%;
	height: 3px;
	right: 0;
	left: auto;
	bottom: 0;
	background: #d12c2c;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.navigation__item-link:hover:before {
	width: 100%;
	left: 0;
}

.navigation__item:first-child .navigation__item-link {
	margin: 0 30px 0 100px;
}

.navigation__item:last-child .navigation__item-link {
	margin: 0 7px 0 30px;
}

.navigation__item-link.subnavigation-open {
	position: relative;
	padding-right: 18px;
}

.subnavigation-open:after {
	position: absolute;
	content: '';
	top: 50%;
	-webkit-transform: translate(0, -10%);
	-ms-transform: translate(0, -10%);
	transform: translate(0, -10%);
	right: 0;
	border: 5px solid transparent;
	border-top: 5px solid #ffffff;
}

.subnavigation-open:hover:after {
	border-top: 5px solid #505050;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.subnavigation {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	position: absolute;
	z-index: 100;
	display: none;
	background: #ffffff;
	list-style: none;
	margin: 0;
	padding: 20px 0 20px 30px;
	font-family: "Open Sans", "Arial", sans-serif;
	font-weight: 400;
	font-size: 13px;
	line-height: 30px;
	color: #505050;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	-webkit-animation: fade-in 0.3s;
	animation: fade-in 0.3s;
}

.subnavigation__about {
	left: 70px;
	width: 282px;
}

.subnavigation__services {
	width: 250px;
}

.subnavigation-open:hover+.subnavigation {
	display: block;
}

.subnavigation:hover {
	display: block;
}

.subnavigation__item-link {
	position: relative;
	margin: 0;
	padding: 0 0 0 20px;
}

.subnavigation__item-link:hover {
	color: #663333;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.subnavigation__item-link:before {
	position: absolute;
	content: '';
	height: 5px;
	width: 5px;
	top: 50%;
	left: -3px;
	border-top: 2px solid #663333;
	border-right: 2px solid #663333;
	-webkit-transform: rotate(45deg) translate(0, -50%);
	-ms-transform: rotate(45deg) translate(0, -50%);
	transform: rotate(45deg) translate(0, -50%);
}


/*---SLIDER---*/

.slider {
	position: relative;
	max-width: 1920px;
	min-height: 500px;
	margin: 0 auto;
}

.slider__title-wrapper {
	width: 940px;
	margin: 0 auto;
}

.slider__title {
	width: 375px;
	padding: 327px 0 0 0;
	margin: 0 0 0 auto;
	font-family: "Open Sans ExtraBold", "Arial", sans-serif;
	font-weight: 800;
	font-size: 30px;
	line-height: 44px;
	color: #ffffff;
	text-transform: uppercase;
}

.slider__item {
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-size: cover;
	background-position: 50%;
	-webkit-animation: imagesFading 16s infinite;
	animation: imagesFading 16s infinite;
}

.slide-1 {
	background-image: url('../img/slide.png');
	-webkit-animation-delay: 0;
	animation-delay: 0;
}

.slide-2 {
	background-image: url('../img/slide3.png');
	-webkit-animation-delay: 8s;
	animation-delay: 8s;
}


/*---SERVICES---*/

.services {
	width: 940px;
	margin: 0 auto;
}

.services__title {
	padding: 98px 0 0 0;
	margin: 0;
	color: #252525;
}

.services__list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	list-style: none;
	padding: 0 0 47px 0;
	margin: 0;
}

.services__list-item {
	padding: 0 0 25px 0;
}

.services__list-item:first-child {
	margin: -73px 0 6px calc(100% - 620px);
}

.services__list-item:first-child .services__item-link {
	position: relative;
}

.services__image-wrapper {
	overflow: hidden;
}

.services__item-image {
	display: block;
	-webkit-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
}

.services__list-item:hover .services__item-image {
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}

.services__item-title {
	padding: 1px 0 1px 20px;
	margin: 0;
	width: 190px;
	color: #ffffff;
	background: -o-linear-gradient(324deg, #518a32 170px, transparent 0);
	background: linear-gradient(126deg, #518a32 170px, transparent 0);
}

.services__list-item:first-child .services__item-title {
	position: absolute;
	left: 0;
	top: 260px;
	width: 340px;
	padding: 9px 0 9px 20px;
	color: #ffffff;
	background: -o-linear-gradient(324deg, #518a32 292px, transparent 0);
	background: linear-gradient(126deg, #518a32 292px, transparent 0);
}

.services__text {
	line-height: 24px;
	padding: 0 0 57px 0;
}


/*---FEATURES---*/

.features {
	position: relative;
	max-width: 1920px;
	min-height: 490px;
	margin: 0 auto;
	background: url('../img/section block.png') center 0 no-repeat;
}

.features:after {
	position: absolute;
	content: '';
	width: 100%;
	height: calc(100% - 26px);
	top: 25px;
	background: #e6e6e6;
	z-index: -1;
}

.features__wrapper {
	width: 940px;
	margin: 0 auto;
}

.features__title {
	color: #ffffff;
	padding: 77px 0 0 0;
}

.features__list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	list-style: none;
	margin: 0;
	padding: 48px 0 0 0;
}

.features__list-item {
	position: relative;
	width: 222px;
	padding: 65px 0 0 0;
	text-align: center;
	color: #ffffff;
}

.features__list-item:before {
	position: absolute;
	content: '';
	width: 60px;
	height: 60px;
	top: 0;
	left: 50%;
	transform: translate(-50%, 0);
}

.features__list-item:nth-child(1):before {
	background: url('../img/clock.svg') center no-repeat;
}

.features__list-item:nth-child(2):before {
	background: url('../img/location.svg') center no-repeat;
}

.features__list-item:nth-child(3):before {
	background: url('../img/shield.svg') center no-repeat;
}

.features__list-item:nth-child(4):before {
	background: url('../img/doc.svg') center no-repeat;
}

.features__item-title {
	padding: 20px 0 10px 0;
	margin: 0;
	font-family: "Open Sans Bold", "Arial", sans-serif;
	font-weight: 700;
	font-size: 16px;
	line-height: 24px;
}

.features__item-text {
	padding: 0;
	margin: 0 auto;
}

.features__list-item:nth-child(1) .features__item-text,
.features__list-item:nth-child(2) .features__item-text {
	width: 160px;
}

.features__list-item:nth-child(3) .features__item-text {
	width: 215px;
}


/*---PROCESS---*/

.process {
	max-width: 1920px;
	margin: -1px auto 0 auto;
	background: #e6e6e6;
}

.process__wrapper {
	width: 940px;
	margin: 0 auto;
}

.process__title {
	color: #252525;
	padding: 78px 0 0 0;
	margin: 0;
}

.process__list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	list-style: none;
	margin: 0;
	padding: 72px 0 87px 0;
}

.process__list-item {
	position: relative;
	width: 220px;
	padding: 65px 0 0 0;
	margin: 0 20px 0 0;
	text-align: center;
}

.process__list-item:before {
	position: absolute;
	content: '';
	top: 0;
	left: 50%;
	width: 70px;
	height: 60px;
	transform: translate(-50%, 0);
}

.process__list-item:nth-child(1):before {
	background: url('../img/request.svg') center bottom no-repeat;
}

.process__list-item:nth-child(2):before {
	background: url('../img/dogovor.svg') center bottom no-repeat;
}

.process__list-item:nth-child(3):before {
	background: url('../img/truck.svg') center bottom no-repeat;
}

.process__list-item:nth-child(4):before {
	background: url('../img/box.svg') center bottom no-repeat;
}

.process__list-item:after {
	position: absolute;
	content: '';
	top: 35px;
	right: -20px;
	width: 20px;
	height: 10px;
	background: url('../img/arrow.svg');
}

.process__list-item:last-child {
	margin: 0;
}

.process__list-item:last-child:after {
	display: none;
}

.process__list-item:nth-child(3) .process__item-icon {
	padding-top: 17px;
}

.process__list-item:nth-child(4) .process__item-icon {
	padding-top: 4px;
}

.process__item-title {
	padding: 20px 0 10px 0;
	margin: 0;
	font-family: "Open Sans Bold", "Arial", sans-serif;
	font-weight: 700;
	font-size: 16px;
	line-height: 24px;
}

.process__item-title a {
	text-decoration: underline;
	color: #518a32;
	transition: all 0.3s ease;
}

.process__item-title a:hover {
	color: #663333;
}

.process__item-text {
	padding: 0;
	margin: 0 auto;
}


/*---TRUCKS---*/

.trucks {
	width: 940px;
	margin: 0 auto;
}

.trucks__title {
	padding: 78px 0 0 0;
	margin: 0;
}

.trucks__list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	list-style: none;
	margin: 0;
	padding: 72px 0 40px 0;
}

.trucks__list-item {
	margin: 0 0 45px 0;
}

.trucks__item-text {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.trucks__item-title {
	width: 99px;
	padding: 1px 0 1px 20px;
	color: #ffffff;
	background: -o-linear-gradient(324deg, #d12c2c 96px, transparent 0);
	background: linear-gradient(126deg, #d12c2c 96px, transparent 0);
}

.trucks__item-description {
	width: 220px;
	padding: 1px 0 1px 37px;
	margin: 0 0 0 -19px;
	color: #ffffff;
	background: -o-linear-gradient(324deg, transparent 15px, #663333 15px, #663333 208px, transparent 208px);
	background: linear-gradient(126deg, transparent 15px, #663333 15px, #663333 208px, transparent 208px);
}


/*---BREADCRUMBS---*/

.breadcrumbs {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 940px;
	list-style: none;
	margin: 0 auto;
	padding: 23px 0 32px 0;
}

.breadcrumbs li {
	position: relative;
	margin: 0 28px 0 0;
	color: #663333;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.breadcrumbs li:after {
	position: absolute;
	top: 50%;
	right: -13px;
	width: 4px;
	height: 4px;
	content: '';
	-webkit-transform: rotate(45deg) translate(0, -50%);
	-ms-transform: rotate(45deg) translate(0, -50%);
	transform: rotate(45deg) translate(0, -50%);
	border-top: 1px solid #505050;
	border-right: 1px solid #505050;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
	color: #505050;
}

.breadcrumbs-current {
	color: #505050;
}

.breadcrumbs-current:after {
	display: none;
}


/*---PRICE---*/

.price {
	width: 940px;
	margin: 0 auto;
}

.price__title {
	padding: 0;
	margin: 0;
}

.price__toggle {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	list-style: none;
	padding: 0;
	margin: 72px 0 44px 0;
}

.price__toggle-input {
	display: none;
}

.price__toggle-label {
	display: block;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 140px;
	padding: 9px 0 9px 20px;
	cursor: pointer;
	color: #ffffff;
	background: #663333;
}

.price__toggle-item:last-child .price__toggle-label {
	background: -o-linear-gradient(324deg, #663333 113px, transparent 0);
	background: linear-gradient(126deg, #663333 113px, transparent 0);
}

#price-1:checked~.price__toggle .price__toggle-item:nth-child(1) .price__toggle-label,
#price-2:checked~.price__toggle .price__toggle-item:nth-child(2) .price__toggle-label,
#price-3:checked~.price__toggle .price__toggle-item:nth-child(3) .price__toggle-label {
	background: -o-linear-gradient(324deg, #d12c2c 113px, #663333 0);
	background: linear-gradient(126deg, #d12c2c 113px, #663333 0);
}

#price-4:checked~.price__toggle .price__toggle-item:nth-child(4) .price__toggle-label {
	background: -o-linear-gradient(324deg, #d12c2c 113px, transparent 0);
	background: linear-gradient(126deg, #d12c2c 113px, transparent 0);
}

.price__list {
	list-style: none;
	padding: 0 0 51px 0;
	margin: 0;
}

.price__list-item {
	display: none;
}

#price-1:checked~.price__list .price__list-item:nth-child(1),
#price-2:checked~.price__list .price__list-item:nth-child(2),
#price-3:checked~.price__list .price__list-item:nth-child(3),
#price-4:checked~.price__list .price__list-item:nth-child(4) {
	display: block;
	-webkit-animation: fade-in 0.3s ease;
	animation: fade-in 0.3s ease;
}

.price__item-title {
	padding: 0 0 33px 0;
	margin: 0;
}

.price__item-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.price__image-wrapper {
	width: 480px;
	max-height: 320px;
	padding: 15px 0 0 0;
}

.price__item-description {
	width: 460px;
	border-collapse: collapse;
	background: #e6e6e6;
	background: -o-linear-gradient(324deg, transparent 15px, #e6e6e6 15px, #e6e6e6 559px, transparent 0px);
	background: linear-gradient(126deg, transparent 15px, #e6e6e6 15px, #e6e6e6 559px, transparent 0px);
}

.price__item-description th,
.price__item-description td {
	line-height: 24px;
	vertical-align: top;
}

.price__item-description td {
	padding: 9px 0 0 30px;
}

.price__item-description th {
	padding: 21px 0 0 30px;
}

.price__item-description tr:first-child th,
.price__item-description tr:first-child td {
	width: 220px;
	padding: 25px 0 0 30px;
}

.price__item-description tr:last-child td {
	height: 50px;
}

.price__item-description th {
	font-family: "Open Sans Bold", "Arial", sans-serif;
	font-weight: 700;
	font-size: 16px;
	line-height: 24px;
}

.price__item-description ul {
	list-style: none;
	padding: 0;
}

.price__button {
	margin: 0 0 90px 480px;
}


/*---FOOTER---*/

.footer {
	max-width: 1920px;
	margin: 0 auto;
	background: #282828;
	z-index: -2;
}

.footer__wrapper {
	width: 940px;
	margin: 0 auto;
	padding: 35px 0 0 0;
}

.footer__contacts {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	list-style: none;
	padding: 0 0 40px 0;
	margin: 0;
	color: #ffffff;
}

.footer__contacts-address {
	width: 380px;
	margin: 0 20px 0 0;
}

.footer__contacts-phone-email {
	width: 300px;
	margin: 0;
}

.footer__contacts-address a,
.footer__contacts-phone-email a {
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.footer__contacts-address a:hover,
.footer__contacts-phone-email a:hover {
	color: #663333;
}

.footer__contacts-feedback {
	position: relative;
	margin: 5px 0 0 auto;
}

.footer__contacts-feedback-button {
	position: relative;
	border: 1px solid #ffffff;
	border-radius: 2px;
	z-index: 1;
}

.footer__contacts-feedback-button:hover {
	color: #663333;
}

.footer__contacts-feedback-button:before {
	position: absolute;
	content: '';
	width: 0%;
	height: 100%;
	background: #ffffff;
	top: 0;
	left: auto;
	right: 0;
	z-index: -1;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.footer__contacts-feedback-button:hover:before {
	width: 100%;
	left: 0;
}

.footer__copyright {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	position: relative;
	color: #616161;
}

.footer__copyright:before {
	position: absolute;
	content: '';
	width: 100%;
	height: 1px;
	top: 0;
	left: 0;
	background: #616161;
}

.footer__copyright p {
	width: 50%;
	padding: 15px 0 37px 0;
	margin: 0;
}

.footer__copyright-developer {
	text-align: right;
}

.footer__copyright-developer a {
	text-decoration: underline;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.footer__copyright-developer a:hover {
	color: #ffffff;
}


/*---MODAL---*/

.modal {
	display: none;
	-webkit-animation: fade-in 0.3s;
	animation: fade-in 0.3s;
}

.modal-show {
	display: block;
}

.modal__form {
	position: fixed;
	width: 400px;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	background: #ffffff;
	z-index: 100;
}

.modal__title-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	background: -o-linear-gradient(324deg, #663333 235px, transparent 0);
	background: linear-gradient(126deg, #663333 235px, transparent 0);
}

.modal__title {
	padding: 9px 0;
	margin: 0 0 0 80px;
	font-family: "Open Sans", "Arial", sans-serif;
	font-weight: 400;
	font-size: 13px;
	line-height: 22px;
	color: #ffffff;
}

.modal__close-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 9px 0;
	margin: 0 15px 0 auto;
}

.modal__close-label {
	color: #663333;
	padding-right: 10px;
}

.modal__close-button {
	font-size: 0;
	position: relative;
	padding: 0;
	margin: 0;
	width: 16px;
	height: 16px;
	cursor: pointer;
	border: 0;
	border-radius: 50%;
	background-color: #505050;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.modal__close-button:hover {
	background-color: #663333;
}

.modal__close-button:before,
.modal__close-button:after {
	position: absolute;
	content: '';
	top: 50%;
	left: 50%;
	width: 10px;
	height: 1px;
	background-color: #ffffff;
}

.modal__close-button:before {
	-webkit-transform: translate(-50%, -50%) rotate(45deg);
	-ms-transform: translate(-50%, -50%) rotate(45deg);
	transform: translate(-50%, -50%) rotate(45deg);
}

.modal__close-button:after {
	-webkit-transform: translate(-50%, -50%) rotate(-45deg);
	-ms-transform: translate(-50%, -50%) rotate(-45deg);
	transform: translate(-50%, -50%) rotate(-45deg);
}

.modal__form-wrapper {
	padding: 44px 0;
	margin: 0 80px;
}

.modal__name-label,
.modal__phone-label,
.modal__info-label {
	display: block;
	padding: 0;
	margin: 0 0 3px 0;
}

.modal__name-input,
.modal__phone-input,
.modal__info-input {
	width: 100%;
	height: 40px;
	margin: 0 0 15px 0;
	padding: 0 0 0 10px;
	border: none;
	background: #e6e6e6;
}

.modal__info-input {
	height: 80px;
	padding: 10px 0 0 10px;
	resize: none;
}

.modal__agreement {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 8px 0 0 0;
}

.modal__agreement-input {
	margin: 0 25px 0 0;
	opacity: 0;
}

.modal__agreement-label {
	position: relative;
	line-height: 17px;
}

.modal__agreement-input+label:before {
	position: absolute;
	content: '';
	top: 0;
	left: -38px;
	width: 18px;
	height: 18px;
	background: #e6e6e6;
}

.modal__agreement-input:checked+label:before {
	position: absolute;
	content: '';
	top: 0;
	left: -38px;
	width: 18px;
	height: 18px;
	background: #e6e6e6;
}

.modal__agreement-input:checked+label:after {
	position: absolute;
	content: '';
	top: 5px;
	left: -35px;
	width: 10px;
	height: 5px;
	border-left: 1px solid #000000;
	border-bottom: 1px solid #000000;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.modal__submit-button {
	margin: 30px auto 5px;
	background: transparent;
}

.modal__close {
	position: fixed;
	-webkit-transition: all 5s ease;
	-o-transition: all 5s ease;
	transition: all 5s ease;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.5);
}